# ---------------------------
# Database Configuration
# ---------------------------
POSTGRES_IMAGE=postgres:15.17
POSTGRES_DB=aptitude
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<local-postgres-password>
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://<db-user>:<db-password>@127.0.0.1:5432/<db-name>
TEST_DATABASE_URL=postgresql+psycopg://<db-user>:<db-password>@127.0.0.1:5432/<db-name>

# ---------------------------
# Application Configuration
# ---------------------------
APP_ENV=dev
LOG_LEVEL=INFO
APP_NAME=aptitude-server

# ---------------------------
# Access Control Configuration
# ---------------------------
AUTH_TOKENS_JSON='{"token-name":["scope"], "...":["..."]}'

