# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# Virtual environments
.venv/
venv/
ENV/
.env
.env/
.env.*
.direnv/


# Packaging / build
build/
dist/
*.egg-info/
.eggs/
.wheels/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.nox/
.tox/

# Type checkers / linters
.mypy_cache/
.pyright/
.ruff_cache/

# FastAPI / runtime
*.log
*.pid
.data/

# IDEs
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# UV
.uv/
.uv-cache

.tmp_migration.db
